{% load staticfiles %}
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<link rel="icon" href="http://www.abeka.com/BookImages/ClipArt/277193/46x46y50fx50fh/277193-Slice-of-Pizza-pepperoni-color-png.png">
<title> Binary CookBook </title>
</head>

<body>

<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
  <div class="container-fluid">
   <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>             
     </button>
    </div>
    <div class="navbar-collapse collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-center">
        <li> <a href="#menu" class="btn btn-info" > Home </a> </li>
		<li><a href="#about" class="btn btn-danger" > About </a></li>
        <li><a href="#add" class="btn btn-primary" > Add ingredients </a></li>
        <li><a href="#fav" class="btn btn-warning"> Favorite recipes </a></li>
        <li><a href="#tips" class="btn btn-success" >Cooking tips </a></li>
      </ul> 
    </div>
  </div>
</nav>


<!-- <div id="fix">
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-12">
				<a href="#menu" class="btn btn-info"> Home </a>
				<a href="#about" class="btn btn-danger"> About </a>
				<a href="#add" class="btn btn-success"> Add ingredients </a>
				<a href="#fav" class="btn btn-warning"> Favorite Recipes </a>
				<a href="#tips" class="btn btn-primary"> Cooking tips </a>
			</div>
		</div>
	</div>
</div>
-->


<div id="menu">
	<div class="container-fluid">
		<div class="row">
			<div class="jumbotron">
				<h1 class="text-center"> <span class="glyphicon glyphicon-book"></span>
				<i> Binary CookBook </i> 
				<span class="glyphicon glyphicon-book"></span></h1>
			</div>
		</div>
	</div>

	<div id="img"> </div>
</div>

<div id="about">  <!--data-spy="scroll" -->
	<div class="container-fluid">
		<div class="row">
			<div class="col-md-6">
				<br> <br> <br>
				<h3> <mark> Binary CookBook</mark>  is an interactive and useful web application that helps you discover and prepare the most convient meals for your lifestyle. 
				</h3> <br>
				<blockquote> Are you in a hurry? Have you run out of ideas of what to cook? Or do you simply feel like trying something new and adventurous? 
				<br> <hr color="black"> 
				Well, then this app is for <mark>you</mark>. Just open the fridge, choose a number of ingredients and add them to this site and <abbr title="Binary CookBook"> BCB </abbr> will suggest what you can cook using them,
				as well as step by step cooking instructions.
				</blockquote>
			</div>
			<div class="col-md-6">
				<br> <br>
				<img src="http://www.webquestdirect.com.au/aes/img/images/cookbook.gif">
				<br> <br> <br>
				<div class="col-md-12">	
					<button type="button" class="btn btn-info" data-toggle="collapse" data-target="#demo">Read more</button>
					<div id="demo" class="collapse">
					<br> 
					This app was created using Python, Django and Scrapy during the mentorship program 'Learn IT, girl!' :) <br> <label>Bon appetite! </label>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div id="add">
	<div class="container">
		<form action="demo_form_method.asp" method="get" target="_blank" role="form">
			<div class="form-group">
				<br> <br> <br> <br> 
				<label for="usr">Please add the ingredients one by one:</label>
				<input type="text" class="form-control" id="usr">
			</div>
		<input type="submit" value="Submit">
		</form>
	</div>
</div>

<div id="fav">
	<div class="container">
		<div class="row">
			<br> 
			<div class="col-md-6">
				<img src="https://s-media-cache-ak0.pinimg.com/originals/f7/d6/43/f7d643dbf0cfe6feea68db5a7e2355f1.jpg" width="400px" height="500px">
			</div>
			<div class="col-md-6">
				<br> <br> <br>
				<h3> Please add your favorite recipes. </h3>
				<br> <br> <br>
			</div>
			<div class="col-md-6">
			<a href="" class="btn btn-danger"> Add to favorites <span class="glyphicon glyphicon-heart"> </span> </a>
			</div>
</div>

<div id="tips">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<br> 
				<h2> <mark> Cooking tips </mark> </h2> 
				<hr color="grey">
				<div class="list-group">
					<div class="list-group-item-info">
						<br>
						<h5 class="list-group-item-heading">Cook pasta 1 minute less than the package instructions and cook it the rest of the way in the pan with sauce.</h5>
						<p class="list-group-item-text"> <b> Mario Batali </b>  <br> <i>  Iron Chef America </i> </p>
					</div>
					<div class="list-group-item-danger">
						<br>
						<h5 class="list-group-item-heading">Take the time to actually read recipes through before you begin. </h5>
						<p class="list-group-item-text"> <b> John Besh </b> <br> <i> Author of <u> My New Orleans </u> </i> </p>
					</div>
					<div class="list-group-item-success">
						<br>
						<h5 class="list-group-item-heading">Recipes are only a guideline, not the Bible. Feel comfortable replacing ingredients with similar ingredients that you like. If you like oregano but not thyme, use oregano.</h5>
						<p class="list-group-item-text"> <b> Alex Seidel </b> <br> <i> Fruition, Denver </i> </p>
					</div>
					<div class="list-group-item-primary">
						<br>
						<h5 class="list-group-item-heading">Always measure what you're baking. No shortcuts in pastry: it's a science.</h5>
						<p class="list-group-item-text"><b> Francois Payard </b> <br> <i>  Francois Payard Bakery, New York City </i> </p>
					</div>
					<div class="list-group-item-warning">
						<br>
						<h5 class="list-group-item-heading">If you're cooking for someone important — whether it's your boss or a date — never try a new recipe and a new ingredient at the same time.</h5>
						<p class="list-group-item-text"> <b> Marcus Samuelsson </b> <br> <i> Red Rooster, New York City </i> </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<nav class="navbar navbar-inverse navbar-fixed-bottom">
				{% for post in posts %}
					<p> Published: {{ post.published_date }}
					<b> | </b> Title: <a href="">{{ post.title }} </a>
					<b> | </b> About: {{ post.text}} </p>
				{% endfor %}
</nav>

<script type="text/javascript">
	$(function() {
  $('a[href*=#]:not([href=#])').click(function() {
    if (location.pathname.replace(/^\//,'') == this.pathname.replace(/^\//,'') && location.hostname == this.hostname) {
      var target = $(this.hash);
      target = target.length ? target : $('[name=' + this.hash.slice(1) +']');
      if (target.length) {
        $('html,body').animate({
          scrollTop: target.offset().top
        }, 1000);
        return false;
      }
    }
  });
});
</script>

</body>
</html>
