{% load staticfiles %}
<html>
<head>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<title> Binary CookBook </title>
</head>
<body>
<div class="title">
Binary CookBook 
</div>
<div class="menu">
<a href="#" target="ifr"> <button type="button" class="button"> Home </button> </a>
<a href="#" target="ifr"> <button type="button" class="button"> Add ingredients </button> </a>
<a href="#" target="ifr"> <button type="button" class="button"> Favorite recipes </button> </a>
<a href="#" target="ifr"> <button type="button" class="button"> Cooking tips </button> </a>
<a href="#" target="ifr"> <button type="button" class="button"> Log in </button> </a>
</div>

<div class="content">
<iframe name="ifr" src="C:\Users\user\Desktop\Project\blog\templates\blog\book.png"> </iframe>
</div>

</html>