.jumbotron{
	color:turquoise;
	text-transform:uppercase;
	height:20vh;
	background-color:#E8E8E8;
}

#img {
	background-image: url("https://cdn.creativelive.com/fit/https%3A%2F%2Fcdn.creativelive.com%2Fagc%2Fcourses%2F5138-1.jpg/1600");
    min-height: 70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}


#about,
#add,
#tips
{
	text-align:center;
	height:80vh;
	padding-top:7vh;
	padding-bottom:10vh;
	line-height:30px;
}

#fav{
	padding-top:12vh;
	padding-bottom:10vh;
}

body
{
	overflow-x:hidden;
	background-color:#E8E8E8;
}

.navbar-inverse{
	background-color:#E8E8E8;
	width:100%;
	border-color:#E8E8E8;
	text-align:center;
}

.btn{
	text-transform:uppercase;
	font-weight:bold;
	color:#000000 !important;
	text-align:center;
	width:19vw;
	height:8vh;
	border-color:#E8E8E8;
	border-width:3px;
	
}

hr{
	border-top: 3px solid turquoise;
}

@media (max-width:764px){
	li a{
		width:100%!important;
	}
	.btn{
	text-transform:uppercase;
	font-weight:bold;
	color:#000000 !important;
	text-align:center;
	height:12vh;
	width:100%;
	border-color:#E8E8E8;
	border-width:3px;
	}
	#fav,#tips,#add,#about{
		width:100%!important;
	}
}





