div.title{
	font-size:80px;
	background-color:#f98866;
	text-shadow: 4px 2px #ffffff;
	color:#000000;
	text-align:right;
	margin:0;
}


.button {
	position: relative;
    background-color: #80bd9e;
    font-size: 20px;
	color: white;
	text-transform:uppercase;
    padding: 4px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    -webkit-box-shadow: 0px 9px 0px black, 0px 9px 25px black;
    -moz-box-shadow: 0px 9px 0px black, 0px 9px 25px black;
    box-shadow: 0px 9px 0px black, 0px 9px 25px black;
	width: 262px;
	text-align: center;
	
	-webkit-transition: all .1s ease;
	-moz-transition: all .1s ease;
	-ms-transition: all .1s ease;
	-o-transition: all .1s ease;
	transition: all .1s ease;
}

.button:active {
    -webkit-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    -moz-box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
    box-shadow: 0px 3px 0px rgba(219,31,5,1), 0px 3px 6px rgba(0,0,0,.9);
}

.button:hover{
	background-color:#89da59;
}

